.word-form {
    position: absolute;
    top: 25%;
}

.word-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid-input {
    border-color: red;
    animation: shake 0.5s ease-in-out;
}

.error-message {
    display: flex;
    position: absolute;
    color: red;
    font-size: 14px;
    margin-top: 4px;
    justify-content: center;
    left: 80px;
}
  
@keyframes spawn {
    0%, 100% {
        transform: translateY(100%);
    }
}
  
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}