.declension-table {
    display: flex;
    justify-content: center;
    caption {
        font-weight: bolder;
        margin-bottom: 10px;
    }
    th {
        font-size: calc(10px + 1.5vmin);
        font-weight: bold;
        border: 4px solid white;
        padding: 5px;
        text-align: center;
        width: 240px;
    }
    td {
        font-size: calc(10px + 1.5vmin);
        padding: 5px;
        text-align: center;
    }
}